<!DOCTYPE html>
<html>
<head>
    <title>Artico - Login </title>
    <meta name= "viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <form action="/registro" method="POST">

        <div class="container">
          <label for="usuario"><b>Usuario</b></label>
          <input type="text" placeholder="Ingresar usuario" name="usuario" required>
      
          <label for="clave"><b>Password</b></label>
          <input type="password" placeholder="Ingresar Password" name="clave" required>
      
          <button type="submit">Enviar</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Recordar mi usuario
          </label>
        </div>
      
        <div class="container">
         
          <span class="psw"> Olvidaste la <a href="#">contraseña</a>?</span>
        </div>
      </form>







</body>



</html>