<!DOCTYPE html>
<html>
    <link href = "css/estilos.css" rel = "stylesheet">
    <link href = "css/normalize.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <head>
    <title>Artico</title>
    <meta name= "viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    <header>
      <div class="w3-container w3-blue">
      <h2> Detalle de Productos </h2>
      </div>
     
    </header>

    <h3> Blue Waves</h3>
    <article>
    <img src="images/blue.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Nick Rivers </h4>
        <h4 class="Pais"> Estonia  </h4>
        <h4 class= "Año"> 2015 </h4>
        <h4 class= "Precio"> $3.300 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>

    <h3> Domestic Abuser</h3>
    <article>
    <img src="images/cables.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Tanklife </h4>
        <h4 class="Pais"> Australia  </h4>
        <h4 class= "Año"> 2021 </h4>
        <h4 class= "Precio"> $850 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>

    <h3> Meet 'n' Veg</h3>
    <article>
    <img src="images/couch.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Tanklife </h4>
        <h4 class="Pais"> Australia  </h4>
        <h4 class= "Año"> 2021 </h4>
        <h4 class= "Precio"> $250 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>

    <h3> Well Grounded Insanity</h3>
    <article>
    <img src="images/pato.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Tanklife </h4>
        <h4 class="Pais"> Australia  </h4>
        <h4 class= "Año"> 2021 </h4>
        <h4 class= "Precio"> $487 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>

    <h3> Flight</h3>
    <article>
    <img src="images/plane.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Tanklife </h4>
        <h4 class="Pais"> Australia  </h4>
        <h4 class= "Año"> 2021 </h4>
        <h4 class= "Precio"> $609 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>

    <h3> Constant Dribble </h3>
    <article>
    <img src="images/tea.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Tanklife </h4>
        <h4 class="Pais"> Australia  </h4>
        <h4 class= "Año"> 2021 </h4>
        <h4 class= "Precio"> $609 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>

    <h3> The coast</h3>
    <article>
    <img src="images/costa.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Lee Wailey </h4>
        <h4 class="Pais"> Taiwan  </h4>
        <h4 class= "Año"> 2017 </h4>
        <h4 class= "Precio"> $2.500 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>

    <h3> Paseo en Pamplona</h3>
    <article>
    <img src="images/hombreEnBici.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Juan Goyache </h4>
        <h4 class="Pais"> España  </h4>
        <h4 class= "Año"> 2021 </h4>
        <h4 class= "Precio"> $14.000 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>
    

    <h3> Naturaleza Verde</h3>
    <article>
    <img src="images/insecto.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Dorothea Oldani </h4>
        <h4 class="Pais"> Suiza  </h4>
        <h4 class= "Año"> 2020 </h4>
        <h4 class= "Precio"> $20.000 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>

    <h3> Barrio Indio</h3>
    <article>
    <img src="images/especies.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Andra Ion </h4>
        <h4 class="Pais"> Rumania </h4>
        <h4 class= "Año"> 2019 </h4>
        <h4 class= "Precio"> $60.000 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>


    <h3> Amelia Earhart</h3>
    <article>
    <img src="images/aviador.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Robin Mendez </h4>
        <h4 class="Pais"> Estonia  </h4>
        <h4 class= "Año"> 2020 </h4>
        <h4 class= "Precio"> $3.000 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>


    <h3> 22 Species of Birds</h3>
    <article>
    <img src="images/birds.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Mark Wilson </h4>
        <h4 class="Pais"> Estados Unidos  </h4>
        <h4 class= "Año"> 2020 </h4>
        <h4 class= "Precio"> $5.000 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>


    <h3> Mount Kano in Kazusa Province</h3>
    <article>
    <img src="images/japan.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Hatoshi Kawamura </h4>
        <h4 class="Pais"> Japon  </h4>
        <h4 class= "Año"> 2020 </h4>
        <h4 class= "Precio"> $1.500 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>


    <h3> Christmas Roses</h3>
    <article>
    <img src="images/flowers.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Florence Westwood Whitfield </h4>
        <h4 class="Pais"> Inglaterra  </h4>
        <h4 class= "Año"> 1880 </h4>
        <h4 class= "Precio"> $340.300 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>


    <h3> Skelwith Force</h3>
    <article>
    <img src="images/river.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Robert Hills </h4>
        <h4 class="Pais"> Inglaterra  </h4>
        <h4 class= "Año"> 1818 </h4>
        <h4 class= "Precio"> $400.000 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>


    <h3> But Men Must Work and Women Must Weep</h3>
    <article>
    <img src="images/langley.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Walter Langley </h4>
        <h4 class="Pais"> Inglaterra  </h4>
        <h4 class= "Año"> 1883 </h4>
        <h4 class= "Precio"> $1.350.000 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>


    <h3> Marble head of an athlete</h3>
    <article>
    <img src="images/marbleHead.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Desconocido </h4>
        <h4 class="Pais"> Italia  </h4>
        <h4 class= "Año"> 200 D.C. </h4>
        <h4 class= "Precio"> $3.800.000 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>


    <h3> Transire</h3>
    <article>
    <img src="images/Transire.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> Fredrik Raddum </h4>
        <h4 class="Pais"> Norway  </h4>
        <h4 class= "Año"> 2017 </h4>
        <h4 class= "Precio"> $600.000 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>


    <h3> Bust of William Shakespeare</h3>
    <article>
    <img src="images/shakespeare.jpg" class="img">
      <div class="info-producto">
        <h4 class="Autor"> John Michael Rysbrack </h4>
        <h4 class="Pais"> Inglaterra </h4>
        <h4 class= "Año"> 1760 </h4>
        <h4 class= "Precio"> $80.000 </h4>
      </div>
      <input class= "boton-carrito" type="button" value="Agregar a Carrito">
    </article>

  </body>





</html>